### Project Overview

Customer churn—the phenomenon where customers discontinue their subscription to a service—poses a significant challenge for subscription-based businesses. Accurately predicting which customers are likely to leave enables companies to proactively engage at-risk customers, optimize retention strategies, and ultimately improve profitability. This project aims to develop a predictive model using machine learning techniques such as logistic regression and random forests, combined with thoughtful feature engineering, to identify customers at high risk of churn. The insights derived will inform actionable business recommendations and a cost-benefit analysis to guide retention efforts

### Business Understanding
For subscription-based businesses, retaining existing customers is often more cost-effective than acquiring new ones. High churn rates can signal underlying issues with customer satisfaction, product fit, or competitive pressures, directly impacting revenue and growth. By understanding the drivers of churn and identifying at-risk customers, the business can:
Target retention campaigns more effectively (e.g., personalized offers, improved customer support)
Allocate resources efficiently to maximize return on investment in retention
Reduce lost revenue and improve customer lifetime value
The key business questions addressed in this project are:
Which customers are most likely to leave the service in the near future?
What are the main factors contributing to customer churn?
How can the business intervene to reduce churn, and what is the expected financial impact of these interventions?
The project will use historical customer data—including demographics, service usage, account information, and previous churn behavior—to build and evaluate predictive models. The final deliverables will include actionable recommendations and a cost-benefit analysis to support data-driven decision-making for customer retention.

### Import Libraries and Dataset

In [43]:
import pandas as pd
df = pd.read_csv("C:/Users/Administrator/Documents/Customer churn prediction project/WA_Fn-UseC_-Telco-Customer-Churn.csv")
print(df.head())

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

### Exploratory Data Analysis(EDA)

In [44]:
# Check for missing values
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [45]:
# Check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [46]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [47]:
df.duplicated().sum()

0

In [48]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

### Feature Engineering For Segmentation

In [49]:
#Tenure Grouping
df['tenure_group'] = pd.cut(df['tenure'], bins=[0, 12, 24, 36, 48, 60, 72], labels=['0-12', '12-24', '24-36', '36-48', '48-60', '60-72'])
print(df['tenure_group'])

0        0-12
1       24-36
2        0-12
3       36-48
4        0-12
        ...
7038    12-24
7039    60-72
7040     0-12
7041     0-12
7042    60-72
Name: tenure_group, Length: 7043, dtype: category
Categories (6, object): ['0-12' < '12-24' < '24-36' < '36-48' < '48-60' < '60-72']

In [50]:
# Service Count
# count how many services a customer subscribes to.
service_cols = ['PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 
                'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
df['num_services'] = df[service_cols].apply(lambda x: sum(x == 'Yes'), axis=1)
print(df['num_services'])

0       1
1       3
2       3
3       3
4       1
       ..
7038    7
7039    6
7040    1
7041    2
7042    6
Name: num_services, Length: 7043, dtype: int64

In [51]:
## Calculate Average Monthly Spend per user
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['avg_monthly_spend'] = df['TotalCharges'] / (df['tenure'].replace(0, 1))

print(df['avg_monthly_spend'])

0        29.850000
1        55.573529
2        54.075000
3        40.905556
4        75.825000
           ...
7038     82.937500
7039    102.262500
7040     31.495455
7041     76.650000
7042    103.704545
Name: avg_monthly_spend, Length: 7043, dtype: float64

In [52]:
# Contract and Payment Method 
# Combine Contract and PaymentMethod into a new feature
df['Contract_PaymentMethod'] = df['Contract'] + '_' + df['PaymentMethod']

# Display the first few values to check
print(df['Contract_PaymentMethod'].head())

0       Month-to-month_Electronic check
1                 One year_Mailed check
2           Month-to-month_Mailed check
3    One year_Bank transfer (automatic)
4       Month-to-month_Electronic check
Name: Contract_PaymentMethod, dtype: object

Customers on month-to-month contracts who pay by electronic check may be more likely to churn than those on two-year contracts with automatic payments.
This combined feature allows the model to learn such patterns, which may not be obvious when using the features separately.

### 1. Binary Encoding of Service Features

# Convert all Yes/No/No internet service/No phone service columns to binary (1/0).

In [53]:
# List of service columns
service_cols = [
    'PhoneService', 'MultipleLines', 'InternetService',
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
    'StreamingTV', 'StreamingMovies'
]

# Map Yes/No/No internet service/No phone service to 1/0
binary_map = {'Yes': 1, 'No': 0, 'No internet service': 0, 'No phone service': 0}

for col in service_cols:
    if col in ['InternetService']:
        # For InternetService, create dummies for each type
        dummies = pd.get_dummies(df[col], prefix=col)
        df = pd.concat([df, dummies], axis=1)
    else:
        df[col + '_bin'] = df[col].map(binary_map)


print(service_cols)

['PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']

### 2. Total Number Of Services Subscribed

## Count how many services a customer subscribes to(excluding InternetService type).

In [54]:
# Count number of services (excluding InternetService type)
service_bin_cols = [
    'PhoneService_bin', 'MultipleLines_bin', 'OnlineSecurity_bin',
    'OnlineBackup_bin', 'DeviceProtection_bin', 'TechSupport_bin',
    'StreamingTV_bin', 'StreamingMovies_bin'
]
df['num_services'] = df[service_bin_cols].sum(axis=1)

print(df['num_services'])

0       1
1       3
2       3
3       3
4       1
       ..
7038    7
7039    6
7040    1
7041    2
7042    6
Name: num_services, Length: 7043, dtype: int64

### 3. Bundled Services

## Create a feature indicating if a customer has all streaming services, all security services, etc.

In [55]:
# Has all streaming services
df['all_streaming'] = ((df['StreamingTV_bin'] == 1) & (df['StreamingMovies_bin'] == 1)).astype(int)

# Has all security/backup services
df['all_security'] = (
    (df['OnlineSecurity_bin'] == 1) &
    (df['OnlineBackup_bin'] == 1) &
    (df['DeviceProtection_bin'] == 1) &
    (df['TechSupport_bin'] == 1)
).astype(int)

In [56]:
df.value_counts()

customerID  gender  SeniorCitizen  Partner  Dependents  tenure  PhoneService  MultipleLines     InternetService  OnlineSecurity       OnlineBackup         DeviceProtection     TechSupport          StreamingTV          StreamingMovies      Contract        PaperlessBilling  PaymentMethod              MonthlyCharges  TotalCharges  Churn  tenure_group  num_services  avg_monthly_spend  Contract_PaymentMethod                    PhoneService_bin  MultipleLines_bin  InternetService_DSL  InternetService_Fiber optic  InternetService_No  OnlineSecurity_bin  OnlineBackup_bin  DeviceProtection_bin  TechSupport_bin  StreamingTV_bin  StreamingMovies_bin  all_streaming  all_security
0002-ORFBO  Female  0              Yes      Yes         9       Yes           No                DSL              No                   Yes                  No                   Yes                  Yes                  No                   One year        Yes               Mailed check               65.60           593.30        No     0-12          4             65.922222          One year_Mailed check                     1                 0                  True                 False                        False               0                   1                 0                     1                1                0                    0              0               1
6619-RPLQZ  Female  0              Yes      Yes         45      Yes           No                No               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  Two year        No                Mailed check               20.85           892.15        No     36-48         1             19.825556          Two year_Mailed check                     1                 0                  False                False                        True                0                   0                 0                     0                0                0                    0              0               1
6629-LADHQ  Female  0              No       No          2       Yes           No                DSL              Yes                  No                   No                   No                   No                   No                   Month-to-month  No                Mailed check               50.95           123.05        No     0-12          2             61.525000          Month-to-month_Mailed check               1                 0                  True                 False                        False               1                   0                 0                     0                0                0                    0              0               1
6629-CZTTH  Male    0              No       No          1       Yes           No                DSL              No                   No                   No                   No                   No                   Yes                  Month-to-month  Yes               Mailed check               55.70           55.70         Yes    0-12          2             55.700000          Month-to-month_Mailed check               1                 0                  True                 False                        False               0                   0                 0                     0                0                1                    0              0               1
6627-CFOSN  Female  0              No       No          59      Yes           Yes               Fiber optic      Yes                  Yes                  Yes                  No                   No                   Yes                  Month-to-month  Yes               Bank transfer (automatic)  99.45           5623.70       No     48-60         6             95.316949          Month-to-month_Bank transfer (automatic)  1                 1                  False                True                         False               1                   1                 1                     0                0                1                    0              0               1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
3359-DSRKA  Female  0              Yes      Yes         58      Yes           No                No               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  Two year        Yes               Mailed check               19.85           1158.85       No     48-60         1             19.980172          Two year_Mailed check                     1                 0                  False                False                        True                0                   0                 0                     0                0                0                    0              0               1
3354-OADJP  Female  0              No       No          8       Yes           No                DSL              Yes                  No                   No                   Yes                  No                   No                   One year        No                Bank transfer (automatic)  54.25           447.75        No     0-12          3             55.968750          One year_Bank transfer (automatic)        1                 0                  True                 False                        False               1                   0                 0                     1                0                0                    0              0               1
3352-RICWQ  Female  0              Yes      Yes         9       Yes           No                No               No internet service  No internet service  No internet service  No internet service  No internet service  No internet service  Two year        No                Mailed check               19.75           210.65        No     0-12          1             23.405556          Two year_Mailed check                     1                 0                  False                False                        True                0                   0                 0                     0                0                0                    0              0               1
3352-ALMCK  Male    0              No       No          40      Yes           Yes               Fiber optic      No                   Yes                  Yes                  No                   Yes                  Yes                  Month-to-month  Yes               Mailed check               102.65          4108.15       No     36-48         6             102.703750         Month-to-month_Mailed check               1                 1                  False                True                         False               0                   1                 1                     0                1                1                    1              0               1
9995-HOTOH  Male    0              Yes      Yes         63      No            No phone service  DSL              Yes                  Yes                  Yes                  No                   Yes                  Yes                  Two year        No                Electronic check           59.00           3707.60       No     60-72         5             58.850794          Two year_Electronic check                 0                 0                  True                 False                        False               1                   1                 1                     0                1                1                    1              0               1
Name: count, Length: 7032, dtype: int64